<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>decoder v 0.0.1</title>
</head>
<body>

  <h1>decoder</h1>

  <h3>Board Status</h3>
  <span id="status"></span>

  <h3>Sensor: raw</h3>
  <span id="sensor_raw"></span>
  <div id="vis_raw" style="width:50px; height:50px"></div>

  <h3>Sensor: average</h3>
  <span id="sensor_average"></span>
  <div id="vis_average" style="width:50px; height:50px"></div>



  <script src="/socket.io/socket.io.js"></script>
  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/client.js"></script>

</body>
</html>
