<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>decoder v 0.0.1</title>
</head>
<body>

  <h1>decoder</h1>

  <h3>Board Status</h3>
  <span id="status"></span>

  <h3>ir array</h3>
  <div id="M1" class="ir_array" style="width:50px;height:50px;background-color:red"></div>
  <div id="M2" class="ir_array" style="width:50px;height:50px;background-color:red"></div>
  <div id="M3" class="ir_array" style="width:50px;height:50px;background-color:red"></div>
  <div id="M4" class="ir_array" style="width:50px;height:50px;background-color:red"></div>
  <div id="M5" class="ir_array" style="width:50px;height:50px;background-color:red"></div>
  <div id="M6" class="ir_array" style="width:50px;height:50px;background-color:red"></div>


  <script src="/socket.io/socket.io.js"></script>
  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/vendor/lodash/dist/lodash.min.js"></script>
  <script src="/client.js"></script>

</body>
</html>
