<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title> {{title}} </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            body {
                padding-top: 70px;
                padding-bottom: 20px;
            }
        </style>
  <link rel="stylesheet" href="/js/vendor/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/js/vendor/bxslider-4/jquery.bxslider.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <div id="overlay"></div>
    <div class="row" id="title">
      <div class="col-md-12">
        <h1>{{title}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-3">
        <h2>retrato</h2>
         <div id="portrait" class="col-md-offset-3">
           <div class="pixels" id="pixel1"><span>1</span></div>
           <div class="pixels" id="pixel2"><span>2</span></div>
           <div class="pixels" id="pixel3"><span>3</span></div>
           <div class="pixels" id="pixel4"><span>4</span></div>
           <div class="pixels" id="pixel5"><span>5</span></div>
           <div class="pixels" id="pixel6"><span>6</span></div>
           <div class="pixels" id="pixel7"><span>7</span></div>
           <div class="pixels" id="pixel8"><span>8</span></div>
           <div class="pixels" id="pixel9"><span>9</span></div>
           <div class="pixels" id="pixel10"><span>10</span></div>
           <div class="pixels" id="pixel11"><span>11</span></div>
           <div class="pixels" id="pixel12"><span>12</span></div>
           <div class="pixels" id="pixel13"><span>13</span></div>
           <div class="pixels" id="pixel14"><span>14</span></div>
           <div class="pixels" id="pixel15"><span>15</span></div>
           <div class="pixels" id="pixel16"><span>16</span></div>
           <div class="pixels" id="pixel17"><span>17</span></div>
           <div class="pixels" id="pixel18"><span>18</span></div>
           <div class="pixels" id="pixel19"><span>19</span></div>
           <div class="pixels" id="pixel20"><span>20</span></div>
           <div class="pixels" id="pixel21"><span>21</span></div>
           <div class="pixels" id="pixel22"><span>22</span></div>
           <div class="pixels" id="pixel23"><span>23</span></div>
           <div class="pixels" id="pixel24"><span>24</span></div>
           <div class="pixels" id="pixel25"><span>25</span></div>
           <div class="pixels" id="pixel26"><span>26</span></div>
           <div class="pixels" id="pixel27"><span>27</span></div>
           <div class="pixels" id="pixel28"><span>28</span></div>
           <div class="pixels" id="pixel29"><span>29</span></div>
           <div class="pixels" id="pixel30"><span>30</span></div>
           <div class="pixels" id="pixel31"><span>31</span></div>
           <div class="pixels" id="pixel32"><span>32</span></div>
           <div class="pixels" id="pixel33"><span>33</span></div>
           <div class="pixels" id="pixel34"><span>34</span></div>
           <div class="pixels" id="pixel35"><span>35</span></div>
           <div class="pixels" id="pixel36"><span>36</span></div>
           <div class="pixels" id="pixel37"><span>37</span></div>
           <div class="pixels" id="pixel38"><span>38</span></div>
           <div class="pixels" id="pixel39"><span>39</span></div>
           <div class="pixels" id="pixel40"><span>40</span></div>
           <div class="pixels" id="pixel41"><span>41</span></div>
           <div class="pixels" id="pixel42"><span>42</span></div>
           <div class="pixels" id="pixel43"><span>43</span></div>
           <div class="pixels" id="pixel44"><span>44</span></div>
           <div class="pixels" id="pixel45"><span>45</span></div>
           <div class="pixels" id="pixel46"><span>46</span></div>
           <div class="pixels" id="pixel47"><span>47</span></div>
           <div class="pixels" id="pixel48"><span>48</span></div>
           <div class="pixels" id="pixel49"><span>49</span></div>
           <div class="pixels" id="pixel50"><span>50</span></div>
           <div class="pixels" id="pixel51"><span>51</span></div>
           <div class="pixels" id="pixel52"><span>52</span></div>
           <div class="pixels" id="pixel53"><span>53</span></div>
           <div class="pixels" id="pixel54"><span>54</span></div>
           <div class="pixels" id="pixel55"><span>55</span></div>
           <div class="pixels" id="pixel56"><span>56</span></div>
           <div class="pixels" id="pixel57"><span>57</span></div>
           <div class="pixels" id="pixel58"><span>58</span></div>
           <div class="pixels" id="pixel59"><span>59</span></div>
           <div class="pixels" id="pixel60"><span>60</span></div>
           <div class="pixels" id="pixel61"><span>61</span></div>
           <div class="pixels" id="pixel62"><span>62</span></div>
           <div class="pixels" id="pixel63"><span>63</span></div>
           <div class="pixels" id="pixel64"><span>64</span></div>
           <div class="pixels" id="pixel65"><span>65</span></div>
           <div class="pixels" id="pixel66"><span>66</span></div>
           <div class="pixels" id="pixel67"><span>67</span></div>
           <div class="pixels" id="pixel68"><span>68</span></div>
           <div class="pixels" id="pixel69"><span>69</span></div>
           <div class="pixels" id="pixel70"><span>70</span></div>
           <div class="pixels" id="pixel71"><span>71</span></div>
           <div class="pixels" id="pixel72"><span>72</span></div>
           <div class="pixels" id="pixel73"><span>73</span></div>
           <div class="pixels" id="pixel74"><span>74</span></div>
           <div class="pixels" id="pixel75"><span>75</span></div>
           <div class="pixels" id="pixel76"><span>76</span></div>
           <div class="pixels" id="pixel77"><span>77</span></div>
           <div class="pixels" id="pixel78"><span>78</span></div>
           <div class="pixels" id="pixel79"><span>79</span></div>
           <div class="pixels" id="pixel80"><span>80</span></div>
           <div class="pixels" id="pixel81"><span>81</span></div>
           <div class="pixels" id="pixel82"><span>82</span></div>
           <div class="pixels" id="pixel83"><span>83</span></div>
           <div class="pixels" id="pixel84"><span>84</span></div>
           <div class="pixels" id="pixel85"><span>85</span></div>
           <div class="pixels" id="pixel86"><span>86</span></div>
           <div class="pixels" id="pixel87"><span>87</span></div>
           <div class="pixels" id="pixel88"><span>88</span></div>
           <div class="pixels" id="pixel89"><span>89</span></div>
           <div class="pixels" id="pixel90"><span>90</span></div>
           <div class="pixels" id="pixel91"><span>91</span></div>
           <div class="pixels" id="pixel92"><span>92</span></div>
           <div class="pixels" id="pixel93"><span>93</span></div>
           <div class="pixels" id="pixel94"><span>94</span></div>
           <div class="pixels" id="pixel95"><span>95</span></div>
           <div class="pixels" id="pixel96"><span>96</span></div>
           <div class="pixels" id="pixel97"><span>97</span></div>
           <div class="pixels" id="pixel98"><span>98</span></div>
           <div class="pixels" id="pixel99"><span>99</span></div>
           <div class="pixels" id="pixel100"><span>100</span></div>
           <div class="pixels" id="pixel101"><span>101</span></div>
           <div class="pixels" id="pixel102"><span>102</span></div>
           <div class="pixels" id="pixel103"><span>103</span></div>
           <div class="pixels" id="pixel104"><span>104</span></div>
           <div class="pixels" id="pixel105"><span>105</span></div>
           <div class="pixels" id="pixel106"><span>106</span></div>
           <div class="pixels" id="pixel107"><span>107</span></div>
           <div class="pixels" id="pixel108"><span>108</span></div>
           <div class="pixels" id="pixel109"><span>109</span></div>
           <div class="pixels" id="pixel110"><span>110</span></div>
           <div class="pixels" id="pixel111"><span>111</span></div>
           <div class="pixels" id="pixel112"><span>112</span></div>
           <div class="pixels" id="pixel113"><span>113</span></div>
           <div class="pixels" id="pixel114"><span>114</span></div>
           <div class="pixels" id="pixel115"><span>115</span></div>
           <div class="pixels" id="pixel116"><span>116</span></div>
           <div class="pixels" id="pixel117"><span>117</span></div>
           <div class="pixels" id="pixel118"><span>118</span></div>
           <div class="pixels" id="pixel119"><span>119</span></div>
           <div class="pixels" id="pixel120"><span>120</span></div>
           <div class="pixels" id="pixel121"><span>121</span></div>
           <div class="pixels" id="pixel122"><span>122</span></div>
           <div class="pixels" id="pixel123"><span>123</span></div>
           <div class="pixels" id="pixel124"><span>124</span></div>
           <div class="pixels" id="pixel125"><span>125</span></div>
           <div class="pixels" id="pixel126"><span>126</span></div>
           <div class="pixels" id="pixel127"><span>127</span></div>
           <div class="pixels" id="pixel128"><span>128</span></div>
           <div class="pixels" id="pixel129"><span>129</span></div>
           <div class="pixels" id="pixel130"><span>130</span></div>
           <div class="pixels" id="pixel131"><span>131</span></div>
           <div class="pixels" id="pixel132"><span>132</span></div>
           <div class="pixels" id="pixel133"><span>133</span></div>
           <div class="pixels" id="pixel134"><span>134</span></div>
           <div class="pixels" id="pixel135"><span>135</span></div>
           <div class="pixels" id="pixel136"><span>136</span></div>
           <div class="pixels" id="pixel137"><span>137</span></div>
           <div class="pixels" id="pixel138"><span>138</span></div>
           <div class="pixels" id="pixel139"><span>139</span></div>
           <div class="pixels" id="pixel140"><span>140</span></div>
           <div class="pixels" id="pixel141"><span>141</span></div>
           <div class="pixels" id="pixel142"><span>142</span></div>
           <div class="pixels" id="pixel143"><span>143</span></div>
           <div class="pixels" id="pixel144"><span>144</span></div>
           <div class="pixels" id="pixel145"><span>145</span></div>
           <div class="pixels" id="pixel146"><span>146</span></div>
           <div class="pixels" id="pixel147"><span>147</span></div>
           <div class="pixels" id="pixel148"><span>148</span></div>
           <div class="pixels" id="pixel149"><span>149</span></div>
           <div class="pixels" id="pixel150"><span>150</span></div>
           <div class="pixels" id="pixel151"><span>151</span></div>
           <div class="pixels" id="pixel152"><span>152</span></div>
           <div class="pixels" id="pixel153"><span>153</span></div>
           <div class="pixels" id="pixel154"><span>154</span></div>
           <div class="pixels" id="pixel155"><span>155</span></div>
           <div class="pixels" id="pixel156"><span>156</span></div>
           <div class="pixels" id="pixel157"><span>157</span></div>
           <div class="pixels" id="pixel158"><span>158</span></div>
           <div class="pixels" id="pixel159"><span>159</span></div>
           <div class="pixels" id="pixel160"><span>160</span></div>
           <div class="pixels" id="pixel161"><span>161</span></div>
           <div class="pixels" id="pixel162"><span>162</span></div>
           <div class="pixels" id="pixel163"><span>163</span></div>
           <div class="pixels" id="pixel164"><span>164</span></div>
           <div class="pixels" id="pixel165"><span>165</span></div>
           <div class="pixels" id="pixel166"><span>166</span></div>
           <div class="pixels" id="pixel167"><span>167</span></div>
           <div class="pixels" id="pixel168"><span>168</span></div>
           <div class="pixels" id="pixel169"><span>169</span></div>
           <div class="pixels" id="pixel170"><span>170</span></div>
           <div class="pixels" id="pixel171"><span>171</span></div>
           <div class="pixels" id="pixel172"><span>172</span></div>
           <div class="pixels" id="pixel173"><span>173</span></div>
           <div class="pixels" id="pixel174"><span>174</span></div>
           <div class="pixels" id="pixel175"><span>175</span></div>
           <div class="pixels" id="pixel176"><span>176</span></div>
           <div class="pixels" id="pixel177"><span>177</span></div>
           <div class="pixels" id="pixel178"><span>178</span></div>
           <div class="pixels" id="pixel179"><span>179</span></div>
           <div class="pixels" id="pixel180"><span>180</span></div>
           <div class="pixels" id="pixel181"><span>181</span></div>
           <div class="pixels" id="pixel182"><span>182</span></div>
           <div class="pixels" id="pixel183"><span>183</span></div>
           <div class="pixels" id="pixel184"><span>184</span></div>
           <div class="pixels" id="pixel185"><span>185</span></div>
           <div class="pixels" id="pixel186"><span>186</span></div>
           <div class="pixels" id="pixel187"><span>187</span></div>
           <div class="pixels" id="pixel188"><span>188</span></div>
           <div class="pixels" id="pixel189"><span>189</span></div>
           <div class="pixels" id="pixel190"><span>190</span></div>
           <div class="pixels" id="pixel191"><span>191</span></div>
           <div class="pixels" id="pixel192"><span>192</span></div>
           <div class="pixels" id="pixel193"><span>193</span></div>
           <div class="pixels" id="pixel194"><span>194</span></div>
           <div class="pixels" id="pixel195"><span>195</span></div>
           <div class="pixels" id="pixel196"><span>196</span></div>
           <div class="pixels" id="pixel197"><span>197</span></div>
           <div class="pixels" id="pixel198"><span>198</span></div>
           <div class="pixels" id="pixel199"><span>199</span></div>
           <div class="pixels" id="pixel200"><span>200</span></div>
           <div class="pixels" id="pixel201"><span>201</span></div>
           <div class="pixels" id="pixel202"><span>202</span></div>
           <div class="pixels" id="pixel203"><span>203</span></div>
           <div class="pixels" id="pixel204"><span>204</span></div>
           <div class="pixels" id="pixel205"><span>205</span></div>
           <div class="pixels" id="pixel206"><span>206</span></div>
           <div class="pixels" id="pixel207"><span>207</span></div>
           <div class="pixels" id="pixel208"><span>208</span></div>
           <div class="pixels" id="pixel209"><span>209</span></div>
           <div class="pixels" id="pixel210"><span>210</span></div>
           <div class="pixels" id="pixel211"><span>211</span></div>
           <div class="pixels" id="pixel212"><span>212</span></div>
           <div class="pixels" id="pixel213"><span>213</span></div>
           <div class="pixels" id="pixel214"><span>214</span></div>
           <div class="pixels" id="pixel215"><span>215</span></div>
           <div class="pixels" id="pixel216"><span>216</span></div>
           <div class="pixels" id="pixel217"><span>217</span></div>
           <div class="pixels" id="pixel218"><span>218</span></div>
           <div class="pixels" id="pixel219"><span>219</span></div>
           <div class="pixels" id="pixel220"><span>220</span></div>
           <div class="pixels" id="pixel221"><span>221</span></div>
           <div class="pixels" id="pixel222"><span>222</span></div>
           <div class="pixels" id="pixel223"><span>223</span></div>
           <div class="pixels" id="pixel224"><span>224</span></div>
           <div class="pixels" id="pixel225"><span>225</span></div>
           <div class="pixels" id="pixel226"><span>226</span></div>
           <div class="pixels" id="pixel227"><span>227</span></div>
           <div class="pixels" id="pixel228"><span>228</span></div>
           <div class="pixels" id="pixel229"><span>229</span></div>
           <div class="pixels" id="pixel230"><span>230</span></div>
           <div class="pixels" id="pixel231"><span>231</span></div>
           <div class="pixels" id="pixel232"><span>232</span></div>
           <div class="pixels" id="pixel233"><span>233</span></div>
           <div class="pixels" id="pixel234"><span>234</span></div>
           <div class="pixels" id="pixel235"><span>235</span></div>
           <div class="pixels" id="pixel236"><span>236</span></div>
           <div class="pixels" id="pixel237"><span>237</span></div>
           <div class="pixels" id="pixel238"><span>238</span></div>
           <div class="pixels" id="pixel239"><span>239</span></div>
           <div class="pixels" id="pixel240"><span>240</span></div>
           <div class="pixels" id="pixel241"><span>241</span></div>
           <div class="pixels" id="pixel242"><span>242</span></div>
           <div class="pixels" id="pixel243"><span>243</span></div>
           <div class="pixels" id="pixel244"><span>244</span></div>
           <div class="pixels" id="pixel245"><span>245</span></div>
           <div class="pixels" id="pixel246"><span>246</span></div>
           <div class="pixels" id="pixel247"><span>247</span></div>
           <div class="pixels" id="pixel248"><span>248</span></div>
           <div class="pixels" id="pixel249"><span>249</span></div>
           <div class="pixels" id="pixel250"><span>250</span></div>
           <div class="pixels" id="pixel251"><span>251</span></div>
           <div class="pixels" id="pixel252"><span>252</span></div>
           <div class="pixels" id="pixel253"><span>253</span></div>
           <div class="pixels" id="pixel254"><span>254</span></div>
           <div class="pixels" id="pixel255"><span>255</span></div>
           <div class="pixels" id="pixel256"><span>256</span></div>
         </div>
      </div>
    </div>
    </div> <!-- /container -->
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <footer>
          <p></p>
        </footer>
      </div>
    </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/vendor/jquery/dist/jquery.js"></script>
  <script src="/js/vendor/lodash/dist/lodash.min.js"></script>
  <script src="/js/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/js/vendor/spin.js/spin.js"></script>
  <script src="/js/vendor/spin.js/jquery.spin.js"></script>
  <script src="/js/vendor/bxslider-4/jquery.bxslider.min.js"></script>
  <script src="/js/client.js"></script>
</body>
</html>
