<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title> {{title}} </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            body {
                padding-top: 30px;
                padding-bottom: 20px;
            }
        </style>
  <link rel="stylesheet" href="/js/vendor/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/js/vendor/bxslider-4/jquery.bxslider.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <div id="overlay"></div>
    <div class="row" id="title">
      <div class="col-md-12">
        <h1>{{title}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <h2>imagen decodificada</h2>
         <div id="portrait" class="col-md-offset-5">
           <div class="pixels" id="pixel1"><span></span></div>
           <div class="pixels" id="pixel2"><span></span></div>
           <div class="pixels" id="pixel3"><span></span></div>
           <div class="pixels" id="pixel4"><span></span></div>
           <div class="pixels" id="pixel5"><span></span></div>
           <div class="pixels" id="pixel6"><span></span></div>
           <div class="pixels" id="pixel7"><span></span></div>
           <div class="pixels" id="pixel8"><span></span></div>
           <div class="pixels" id="pixel9"><span></span></div>
           <div class="pixels" id="pixel10"><span></span></div>
           <div class="pixels" id="pixel11"><span></span></div>
           <div class="pixels" id="pixel12"><span></span></div>
           <div class="pixels" id="pixel13"><span></span></div>
           <div class="pixels" id="pixel14"><span></span></div>
           <div class="pixels" id="pixel15"><span></span></div>
           <div class="pixels" id="pixel16"><span></span></div>
           <div class="pixels" id="pixel17"><span></span></div>
           <div class="pixels" id="pixel18"><span></span></div>
           <div class="pixels" id="pixel19"><span></span></div>
           <div class="pixels" id="pixel20"><span></span></div>
           <div class="pixels" id="pixel21"><span></span></div>
           <div class="pixels" id="pixel22"><span></span></div>
           <div class="pixels" id="pixel23"><span></span></div>
           <div class="pixels" id="pixel24"><span></span></div>
           <div class="pixels" id="pixel25"><span></span></div>
           <div class="pixels" id="pixel26"><span></span></div>
           <div class="pixels" id="pixel27"><span></span></div>
           <div class="pixels" id="pixel28"><span></span></div>
           <div class="pixels" id="pixel29"><span></span></div>
           <div class="pixels" id="pixel30"><span></span></div>
           <div class="pixels" id="pixel31"><span></span></div>
           <div class="pixels" id="pixel32"><span></span></div>
           <div class="pixels" id="pixel33"><span></span></div>
           <div class="pixels" id="pixel34"><span></span></div>
           <div class="pixels" id="pixel35"><span></span></div>
           <div class="pixels" id="pixel36"><span></span></div>
           <div class="pixels" id="pixel37"><span></span></div>
           <div class="pixels" id="pixel38"><span></span></div>
           <div class="pixels" id="pixel39"><span></span></div>
           <div class="pixels" id="pixel40"><span></span></div>
           <div class="pixels" id="pixel41"><span></span></div>
           <div class="pixels" id="pixel42"><span></span></div>
           <div class="pixels" id="pixel43"><span></span></div>
           <div class="pixels" id="pixel44"><span></span></div>
           <div class="pixels" id="pixel45"><span></span></div>
           <div class="pixels" id="pixel46"><span></span></div>
           <div class="pixels" id="pixel47"><span></span></div>
           <div class="pixels" id="pixel48"><span></span></div>
           <div class="pixels" id="pixel49"><span></span></div>
           <div class="pixels" id="pixel50"><span></span></div>
           <div class="pixels" id="pixel51"><span></span></div>
           <div class="pixels" id="pixel52"><span></span></div>
           <div class="pixels" id="pixel53"><span></span></div>
           <div class="pixels" id="pixel54"><span></span></div>
           <div class="pixels" id="pixel55"><span></span></div>
           <div class="pixels" id="pixel56"><span></span></div>
           <div class="pixels" id="pixel57"><span></span></div>
           <div class="pixels" id="pixel58"><span></span></div>
           <div class="pixels" id="pixel59"><span></span></div>
           <div class="pixels" id="pixel60"><span></span></div>
           <div class="pixels" id="pixel61"><span></span></div>
           <div class="pixels" id="pixel62"><span></span></div>
           <div class="pixels" id="pixel63"><span></span></div>
           <div class="pixels" id="pixel64"><span></span></div>
           <div class="pixels" id="pixel65"><span></span></div>
           <div class="pixels" id="pixel66"><span></span></div>
           <div class="pixels" id="pixel67"><span></span></div>
           <div class="pixels" id="pixel68"><span></span></div>
           <div class="pixels" id="pixel69"><span></span></div>
           <div class="pixels" id="pixel70"><span></span></div>
           <div class="pixels" id="pixel71"><span></span></div>
           <div class="pixels" id="pixel72"><span></span></div>
           <div class="pixels" id="pixel73"><span></span></div>
           <div class="pixels" id="pixel74"><span></span></div>
           <div class="pixels" id="pixel75"><span></span></div>
           <div class="pixels" id="pixel76"><span></span></div>
           <div class="pixels" id="pixel77"><span></span></div>
           <div class="pixels" id="pixel78"><span></span></div>
           <div class="pixels" id="pixel79"><span></span></div>
           <div class="pixels" id="pixel80"><span></span></div>
           <div class="pixels" id="pixel81"><span></span></div>
           <div class="pixels" id="pixel82"><span></span></div>
           <div class="pixels" id="pixel83"><span></span></div>
           <div class="pixels" id="pixel84"><span></span></div>
           <div class="pixels" id="pixel85"><span></span></div>
           <div class="pixels" id="pixel86"><span></span></div>
           <div class="pixels" id="pixel87"><span></span></div>
           <div class="pixels" id="pixel88"><span></span></div>
           <div class="pixels" id="pixel89"><span></span></div>
           <div class="pixels" id="pixel90"><span></span></div>
           <div class="pixels" id="pixel91"><span></span></div>
           <div class="pixels" id="pixel92"><span></span></div>
           <div class="pixels" id="pixel93"><span></span></div>
           <div class="pixels" id="pixel94"><span></span></div>
           <div class="pixels" id="pixel95"><span></span></div>
           <div class="pixels" id="pixel96"><span></span></div>
           <div class="pixels" id="pixel97"><span></span></div>
           <div class="pixels" id="pixel98"><span></span></div>
           <div class="pixels" id="pixel99"><span></span></div>
           <div class="pixels" id="pixel100"><span></span></div>
           <div class="pixels" id="pixel101"><span></span></div>
           <div class="pixels" id="pixel102"><span></span></div>
           <div class="pixels" id="pixel103"><span></span></div>
           <div class="pixels" id="pixel104"><span></span></div>
           <div class="pixels" id="pixel105"><span></span></div>
           <div class="pixels" id="pixel106"><span></span></div>
           <div class="pixels" id="pixel107"><span></span></div>
           <div class="pixels" id="pixel108"><span></span></div>
           <div class="pixels" id="pixel109"><span></span></div>
           <div class="pixels" id="pixel110"><span></span></div>
           <div class="pixels" id="pixel111"><span></span></div>
           <div class="pixels" id="pixel112"><span></span></div>
           <div class="pixels" id="pixel113"><span></span></div>
           <div class="pixels" id="pixel114"><span></span></div>
           <div class="pixels" id="pixel115"><span></span></div>
           <div class="pixels" id="pixel116"><span></span></div>
           <div class="pixels" id="pixel117"><span></span></div>
           <div class="pixels" id="pixel118"><span></span></div>
           <div class="pixels" id="pixel119"><span></span></div>
           <div class="pixels" id="pixel120"><span></span></div>
           <div class="pixels" id="pixel121"><span></span></div>
           <div class="pixels" id="pixel122"><span></span></div>
           <div class="pixels" id="pixel123"><span></span></div>
           <div class="pixels" id="pixel124"><span></span></div>
           <div class="pixels" id="pixel125"><span></span></div>
           <div class="pixels" id="pixel126"><span></span></div>
           <div class="pixels" id="pixel127"><span></span></div>
           <div class="pixels" id="pixel128"><span></span></div>
           <div class="pixels" id="pixel129"><span></span></div>
           <div class="pixels" id="pixel130"><span></span></div>
           <div class="pixels" id="pixel131"><span></span></div>
           <div class="pixels" id="pixel132"><span></span></div>
           <div class="pixels" id="pixel133"><span></span></div>
           <div class="pixels" id="pixel134"><span></span></div>
           <div class="pixels" id="pixel135"><span></span></div>
           <div class="pixels" id="pixel136"><span></span></div>
           <div class="pixels" id="pixel137"><span></span></div>
           <div class="pixels" id="pixel138"><span></span></div>
           <div class="pixels" id="pixel139"><span></span></div>
           <div class="pixels" id="pixel140"><span></span></div>
           <div class="pixels" id="pixel141"><span></span></div>
           <div class="pixels" id="pixel142"><span></span></div>
           <div class="pixels" id="pixel143"><span></span></div>
           <div class="pixels" id="pixel144"><span></span></div>
           <div class="pixels" id="pixel145"><span></span></div>
           <div class="pixels" id="pixel146"><span></span></div>
           <div class="pixels" id="pixel147"><span></span></div>
           <div class="pixels" id="pixel148"><span></span></div>
           <div class="pixels" id="pixel149"><span></span></div>
           <div class="pixels" id="pixel150"><span></span></div>
           <div class="pixels" id="pixel151"><span></span></div>
           <div class="pixels" id="pixel152"><span></span></div>
           <div class="pixels" id="pixel153"><span></span></div>
           <div class="pixels" id="pixel154"><span></span></div>
           <div class="pixels" id="pixel155"><span></span></div>
           <div class="pixels" id="pixel156"><span></span></div>
           <div class="pixels" id="pixel157"><span></span></div>
           <div class="pixels" id="pixel158"><span></span></div>
           <div class="pixels" id="pixel159"><span></span></div>
           <div class="pixels" id="pixel160"><span></span></div>
           <div class="pixels" id="pixel161"><span></span></div>
           <div class="pixels" id="pixel162"><span></span></div>
           <div class="pixels" id="pixel163"><span></span></div>
           <div class="pixels" id="pixel164"><span></span></div>
           <div class="pixels" id="pixel165"><span></span></div>
           <div class="pixels" id="pixel166"><span></span></div>
           <div class="pixels" id="pixel167"><span></span></div>
           <div class="pixels" id="pixel168"><span></span></div>
           <div class="pixels" id="pixel169"><span></span></div>
           <div class="pixels" id="pixel170"><span></span></div>
           <div class="pixels" id="pixel171"><span></span></div>
           <div class="pixels" id="pixel172"><span></span></div>
           <div class="pixels" id="pixel173"><span></span></div>
           <div class="pixels" id="pixel174"><span></span></div>
           <div class="pixels" id="pixel175"><span></span></div>
           <div class="pixels" id="pixel176"><span></span></div>
           <div class="pixels" id="pixel177"><span></span></div>
           <div class="pixels" id="pixel178"><span></span></div>
           <div class="pixels" id="pixel179"><span></span></div>
           <div class="pixels" id="pixel180"><span></span></div>
           <div class="pixels" id="pixel181"><span></span></div>
           <div class="pixels" id="pixel182"><span></span></div>
           <div class="pixels" id="pixel183"><span></span></div>
           <div class="pixels" id="pixel184"><span></span></div>
           <div class="pixels" id="pixel185"><span></span></div>
           <div class="pixels" id="pixel186"><span></span></div>
           <div class="pixels" id="pixel187"><span></span></div>
           <div class="pixels" id="pixel188"><span></span></div>
           <div class="pixels" id="pixel189"><span></span></div>
           <div class="pixels" id="pixel190"><span></span></div>
           <div class="pixels" id="pixel191"><span></span></div>
           <div class="pixels" id="pixel192"><span></span></div>
           <div class="pixels" id="pixel193"><span></span></div>
           <div class="pixels" id="pixel194"><span></span></div>
           <div class="pixels" id="pixel195"><span></span></div>
           <div class="pixels" id="pixel196"><span></span></div>
           <div class="pixels" id="pixel197"><span></span></div>
           <div class="pixels" id="pixel198"><span></span></div>
           <div class="pixels" id="pixel199"><span></span></div>
           <div class="pixels" id="pixel200"><span></span></div>
           <div class="pixels" id="pixel201"><span></span></div>
           <div class="pixels" id="pixel202"><span></span></div>
           <div class="pixels" id="pixel203"><span></span></div>
           <div class="pixels" id="pixel204"><span></span></div>
           <div class="pixels" id="pixel205"><span></span></div>
           <div class="pixels" id="pixel206"><span></span></div>
           <div class="pixels" id="pixel207"><span></span></div>
           <div class="pixels" id="pixel208"><span></span></div>
           <div class="pixels" id="pixel209"><span></span></div>
           <div class="pixels" id="pixel210"><span></span></div>
           <div class="pixels" id="pixel211"><span></span></div>
           <div class="pixels" id="pixel212"><span></span></div>
           <div class="pixels" id="pixel213"><span></span></div>
           <div class="pixels" id="pixel214"><span></span></div>
           <div class="pixels" id="pixel215"><span></span></div>
           <div class="pixels" id="pixel216"><span></span></div>
           <div class="pixels" id="pixel217"><span></span></div>
           <div class="pixels" id="pixel218"><span></span></div>
           <div class="pixels" id="pixel219"><span></span></div>
           <div class="pixels" id="pixel220"><span></span></div>
           <div class="pixels" id="pixel221"><span></span></div>
           <div class="pixels" id="pixel222"><span></span></div>
           <div class="pixels" id="pixel223"><span></span></div>
           <div class="pixels" id="pixel224"><span></span></div>
           <div class="pixels" id="pixel225"><span></span></div>
           <div class="pixels" id="pixel226"><span></span></div>
           <div class="pixels" id="pixel227"><span></span></div>
           <div class="pixels" id="pixel228"><span></span></div>
           <div class="pixels" id="pixel229"><span></span></div>
           <div class="pixels" id="pixel230"><span></span></div>
           <div class="pixels" id="pixel231"><span></span></div>
           <div class="pixels" id="pixel232"><span></span></div>
           <div class="pixels" id="pixel233"><span></span></div>
           <div class="pixels" id="pixel234"><span></span></div>
           <div class="pixels" id="pixel235"><span></span></div>
           <div class="pixels" id="pixel236"><span></span></div>
           <div class="pixels" id="pixel237"><span></span></div>
           <div class="pixels" id="pixel238"><span></span></div>
           <div class="pixels" id="pixel239"><span></span></div>
           <div class="pixels" id="pixel240"><span></span></div>
           <div class="pixels" id="pixel241"><span></span></div>
           <div class="pixels" id="pixel242"><span></span></div>
           <div class="pixels" id="pixel243"><span></span></div>
           <div class="pixels" id="pixel244"><span></span></div>
           <div class="pixels" id="pixel245"><span></span></div>
           <div class="pixels" id="pixel246"><span></span></div>
           <div class="pixels" id="pixel247"><span></span></div>
           <div class="pixels" id="pixel248"><span></span></div>
           <div class="pixels" id="pixel249"><span></span></div>
           <div class="pixels" id="pixel250"><span></span></div>
           <div class="pixels" id="pixel251"><span></span></div>
           <div class="pixels" id="pixel252"><span></span></div>
           <div class="pixels" id="pixel253"><span></span></div>
           <div class="pixels" id="pixel254"><span></span></div>
           <div class="pixels" id="pixel255"><span></span></div>
           <div class="pixels" id="pixel256"><span></span></div>
         </div>
      </div>
    </div>
    </div> <!-- /container -->
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <footer>
          <p></p>
        </footer>
      </div>
    </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/vendor/jquery/dist/jquery.js"></script>
  <script src="/js/vendor/lodash/dist/lodash.min.js"></script>
  <script src="/js/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/js/vendor/spin.js/spin.js"></script>
  <script src="/js/vendor/spin.js/jquery.spin.js"></script>
  <script src="/js/vendor/bxslider-4/jquery.bxslider.min.js"></script>
  <script src="/js/client.js"></script>
</body>
</html>
