<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title> {{title}} </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <style>
            body {
                padding-top: 70px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script type="text/javascript">
          window.strings = {
            next: '{{next}}',
            previous: '{{previous}}',
            loading: '{{loading}}',
            finifsh: '{{finish}}'
          }
        </script>

    </head>
    <body>
    <div class="row" id="title">
      <div class="col-md-12">
        <h1>{{title}}</h1>
      </div>
    </div>
    <div class="row">

      <div class="col-md-10 col-md-offset-1">

        <div id="wizard">
          <h1>{{first_step_title}}</h1>
          <div class="col-md-10 col-md-offset-1">
            <div class="col-md-10 instruction">
                {{first_content}}
            </div>
          </div>

          <h1>{{second_step_title}}</h1>
          <div class="col-md-10 col-md-offset-1">
            <div class="col-md-10 instruction">
              {{name_instruction}}
            </div>
            <div class="col-md-10 input">
              <input autofocus id="username" type="text" autocomplete="off" >
            </div>
          </div>

          <h1>{{third_step_title}}</h1>
          <div class="col-md-10 col-md-offset-1">
            <div class="col-md-10 instruction">
              {{email_instruction}}
            </div>
            <div class="col-md-10 input">
              <input autofocus id="email" type="text" autocomplete="off">
            </div>
          </div>

          <h1>{{four_step_title}}</h1>
          <div class="col-md-10 col-md-offset-1">
            <div class="col-md-10 instruction">
              {{picture_instruction}}
            </div>
          </div>

          <h1>{{five_step_title}}</h1>

          <div class="col-md-9 col-md-offset-1">
            <div class="col-md-10 instruction">
              done!
            </div>
          </div>
        </div>
      </div>
    </div> <!-- /container -->
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <footer>
          <p>{{instructions}}</p>
        </footer>
      </div>
    </div>

      <script src="js/vendor/jquery/dist/jquery.js"></script>
      <script src="js/vendor/bootstrap/dist/js/bootstrap.js"></script>
      <script src="js/vendor/jquery-steps/build/jquery.steps.min.js"></script>

      <script src="js/main.js"></script>
    </body>
</html>
